<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中国雾霾网</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
</head>
<body>
<div id="container">
	<div id="wrapper">
		<div id="header">
			<div id="headertop">
				<a href="{% url 'other:index' %}" class="replace" id="logo"><span></span></a>
				<div id="loginarea">
                {% if request.user.is_authenticated %}
                    <p class="notlogin">欢迎您！</p>
                    <p class="loginbut">
                        <a class="butlogin" href="" >{{ request.user.username }}</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="butlogin" href="{% url 'user:user_logout' %}">退出</a>
                    </p>
                {% else %}
					<p class="notlogin">未登陆！</p>
					<p class="loginbut">
                        <a href="{% url 'user:user_login' %}" class="butlogin">登陆</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="{% url 'user:user_register' %}" class="butlogin">注册</a>
                    </p>
                {% endif %}
				</div>
			</div>
			<div id="placemainmenu">
				<ul id="mainmenu">
					<li><a href="{% url 'other:index' %}">网站首页</a></li>
                    <li><a href="{% url 'other:harm' %}">雾霾危害</a></li>
                    <li><a href="{% url 'other:governance' %}">雾霾治理</a></li>
                    <li><a href="{% url 'news:news_list' %}">最新新闻</a></li>
                    <li class="active"><a href="{% url 'data:data_list' %}">雾霾数据</a></li>
                    <li><a href="{% url 'other:about' %}">关于我们</a></li>
				</ul>
                <form method="post" action="{% url 'data:data_search' %}" id="frmsearch">{% csrf_token %}
					<div>
						<input type="text" name="search" class="textboxsearch" value="" placeholder="请输入您要查询的城市" onblur="if(this.value.length == 0) this.value='北京';" onclick="if(this.value == 'Search') this.value='';" />
                        <input type="submit" name="submitsearch" class="submitsearch" value="" />
					</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div id="content">
            <ul id="breadcrumb">
				<li><a href="{% url 'other:index' %}">首页</a></li>
				<li class="last">查询</li>
			</ul>
			<div id="maincontent">
				<div class="boxbig">
					<h1 class="titlebig">全国雾霾数据查询</h1>
					<div class="boxbigcontent">
                            <div class="all">
                            <div class="bottom">
                                <ul class="unstyled">
                                    <div><b>A.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'A.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>B.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'B.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>C.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'C.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>D.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'D.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>E.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'F.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>F.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'F.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>G.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'G.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>H.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'H.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>J.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'J.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>K.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'K.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                <div><b>L.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'L.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>M.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'M.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>N.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'N.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>P.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'P.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>Q.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'Q.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>R.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'R.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>S.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'S.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>T.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'T.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>W.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'W.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>X.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'X.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>Y.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'Y.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                                <ul class="unstyled">
                                    <div><b>Z.</b></div>
                                    <div>
                                        {% for city in cities %}
                                            {% if city.initial == 'Z.' %}
                                                <li><a href="{% url 'data:data_detail'  city.id %}">{{ city.city }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                              </div>
                        </div>
						<div class="clear"></div>
					</div>
					<div class="boxbigcontentbottom"></div>
				</div>
			</div>
			<div id="nav">
				<div class="boxnav">
					<h3 class="titlenav">全国主要城市雾霾数据</h3>
					<div class="boxnavcontent">
                        <div class="bottom">
                            <ul class="unstyled">
                                <li><a href='{% url 'data:data_detail' 22 %}'>北京</a></li>
                                <li><a href='{% url 'data:data_detail' 241 %}'>上海</a></li>
                                <li><a href='{% url 'data:data_detail' 276 %}'>天津</a></li>
                                <li><a href='{% url 'data:data_detail' 46 %}'>重庆</a></li>
                                <li><a href="{% url 'data:data_detail' 42 %}">成都</a></li>
                                <li><a href="{% url 'data:data_detail' 253 %}">深圳</a></li>
                                <li><a href='{% url 'data:data_detail' 97 %}'>杭州</a></li>
                                <li><a href='{% url 'data:data_detail' 88 %}'>哈尔滨</a></li>
                                <li><a href='{% url 'data:data_detail' 30 %}'>长春</a></li>
                                <li><a href='{% url 'data:data_detail' 252 %}'>沈阳</a></li>
                                <li><a href='{% url 'data:data_detail' 255 %}'>石家庄</a></li>
                                <li><a href='{% url 'data:data_detail' 272 %}'>太原</a></li>
                                <li><a href='{% url 'data:data_detail' 304 %}'>西安</a></li>
                                <li><a href='{% url 'data:data_detail' 136 %}'>济南</a></li>
                                <li><a href='{% url 'data:data_detail' 298 %}'>乌鲁木齐</a></li>
                                <li><a href='{% url 'data:data_detail' 164 %}'>拉萨</a></li>
                                <li><a href='{% url 'data:data_detail' 314 %}'>西宁</a></li>
                                <li><a href='{% url 'data:data_detail' 163 %}'>兰州</a></li>
                                <li><a href='{% url 'data:data_detail' 337 %}'>银川</a></li>
                                <li><a href='{% url 'data:data_detail' 362 %}'>郑州</a></li>
                                <li><a href='{% url 'data:data_detail' 199 %}'>南京</a></li>
                                <li><a href='{% url 'data:data_detail' 293 %}'>武汉</a></li>
                                <li><a href='{% url 'data:data_detail' 101 %}'>合肥</a></li>
                                <li><a href='{% url 'data:data_detail' 74 %}'>福州</a></li>
                                <li><a href='{% url 'data:data_detail' 197 %}'>南昌</a></li>
                                <li><a href='{% url 'data:data_detail' 35 %}'>长沙</a></li>
                                <li><a href='{% url 'data:data_detail' 85 %}'>贵阳</a></li>
                                <li><a href='{% url 'data:data_detail' 82 %}'>广州</a></li>
                                <li><a href='{% url 'data:data_detail' 156 %}'>昆明</a></li>
                                <li><a href='{% url 'data:data_detail' 200 %}'>南宁</a></li>
                            </ul>
                          </div>
					</div>
				</div>
                <div class="boxnav">
					<h3 class="titlenav">数据来源</h3>
					<div class="boxnavcontent">
                        <ul class="menunav">
                            <li><a href="https://www.aqistudy.cn/">中国空气质量在线监测平台</a></li>
                            <li><a href="http://www.pm25.in/">PM25.in</a></li>
                            <li class="last"><a href="http://www.pm25.com">绿色呼吸</a></li>
                        </ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p id="texttwitter"></p>
			<ul id="menufooter">
				<li><a href="{% url 'other:index' %}">网站首页</a></li>
                <li><a href="{% url 'other:harm' %}">雾霾危害</a></li>
                <li><a href="{% url 'other:governance' %}">雾霾治理</a></li>
                <li class="active"><a href="{% url 'news:news_list' %}">最新新闻</a></li>
                <li><a href="{% url 'data:data_list' %}">雾霾数据</a></li>
                <li><a href="{% url 'other:about' %}">关于我们</a></li>
			</ul>
			<ul id="menufooterright">
				<li>Copyright 2019, 张国栋, Inc.</li>
				<li class="last"><a href="#">回到顶部</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>