<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>防霾知识</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/ui_core.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/ui_tabs.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/lightbox.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/easing.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jcarousel.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/slideshow.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/twitter.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/gettwitter.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	$(function() {
		$("#butslide").click(function(){
				$("#panellogin").slideToggle("fast");
				$(this).toggleClass("active"); return false;
		}); 
		$('#tabsnav').tabs({ fx: { opacity: 'toggle' } });
		$('a.popup').lightBox({fixedNavigation:true});
	});
	</script>
</head>

<body>
<p><a class="skiplink" href="#maincontent"></a></p>
<div id="container">
	<div id="wrapper">
		<div id="header">
			<div id="headertop">
				<a href="{% url 'index' %}" class="replace" id="logo"><span></span></a>
				<div id="loginarea">
                {% if request.user.is_authenticated %}
                    <p class="notlogin">欢迎您！</p>
                    <p class="loginbut">
                        <a class="butlogin" href="" >{{ request.user.username }}</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="butlogin" href="{% url 'user:user_logout' %}">退出</a>
                    </p>
                {% else %}
					<p class="notlogin">未登陆！</p>
					<p class="loginbut">
                        <a href="{% url 'user:user_login' %}" class="butlogin">登陆</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="{% url 'user:user_register' %}" class="butlogin">注册</a>
                    </p>
                {% endif %}
				</div>
			</div>
			<div id="placemainmenu">
				<ul id="mainmenu">
					<li><a href="{% url 'index' %}">网站首页</a></li>
					<li class="active"><a href="{% url 'knowledge' %}">防霾知识</a></li>
					<li><a href="{% url 'news:news_list' %}">最新新闻</a></li>
					<li><a href="{% url 'data:data_show' %}">数据展示</a></li>
					<li><a href="{% url 'contact' %}">交流区</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div id="content">
			<div id="maincontent">
				<div class="boxbig">
					<h1 class="titlebig">防霾知识</h1>
					<div class="boxbigcontent">
						<ul>
							<li>方法一：戴帽子
                                <br/><p>在雾霾天气里，头发吸附的污染物的能力也是不容小嘘的，所以在出门前，戴上一顶帽子便能解决这个小麻烦哦。如果不好好保护，还有可能损害身体健康</p>
                            </li>
							<li>方法二：戴口罩
                                <br/><p>虽然戴上口罩也不能保证百分百的没有污染物进入口腔或呼吸道等，但是带上口罩也就是多了一个保护屏障，所以，戴上口罩，防范于未然，毕竟身体健康才是革命的本钱哦</p>
                            </li>
							<li>方法三：穿长衣
                                <p>要觉得长衣笨重，而且还很不好活动筋骨。但是值得注意的是，长衣相对于短衣而言，大大降低了污染空气与身体的接触面积，也就多了一些保护</p>
                            </li>
							<li>方法四：减少户外活动时间
                                <br/><p>在这种雾霾天气里，由于有害空气的大面积覆盖，所以尽量减少外出频率。如果实在是要外出,那最好也要保持平和呼吸的小碎步走路，切不可急行哦</p>
                            </li>
							<li>方法五：进屋洗手洗脸
                                <br/><p>当你在户外活动时候，在这雾霾天气里，就算你全副武装，但是并不是无孔不入的，所以或多或少的什么有害物质有可能接触到你的皮肤，所以进屋还是先洗手洗脸吧</p>
                            </li>
                            <li>方法六：用鼻子呼吸
                                <br/><p>雾霾天气的空气里总是有一些有害物质，如果用嘴巴呼吸的话，哪些有害物质就会进入人体体内，但是用鼻子呼吸就不同了，鼻子里面的鼻毛和粘液会吸附空气中的有害物质，就算不能全部吸附，但是还是会吸附一些，至少不会全部被吸收到人体中</p>
                            </li>
                            <li>方法七：进屋巧开窗
                                <br/><p>雾霾天气里，外面到处都是一些不新鲜的空气，但是没办法啊，室内的氧气被人吸收完后，只有二氧化碳了，总不是吸收二氧化碳吧，所以呢，你可以在中午的时候，将窗户打开一条缝，这也是无可奈何</p>
                            </li>
                            <li>方法八：早睡觉
                                <br/><p>在这么不好的天气里还是早点睡觉，就不要熬夜上网玩手机，对身体不好。而且，早睡觉还是有效减缓呼吸，对这种雾霾天气这也是最好的做法了</p>
                            </li>
                            <li>方法九：多喝水
                                <br/><p>水是我们生命中不可缺少的部分，所以没事的时候。喝喝热水，对身体还是很有好处了，知道身体不会有缺水的现象</p>
                            </li>
						</ul>

					</div>
					<div class="boxbigcontentbottom"></div>
				</div>
			</div>
			<div id="nav">
				<div class="boxnav">
					<h3 class="titlenav">防霾工具</h3>
					<div class="boxnavcontent">
						<ul class="menunav">
							<li><a href="#">防霾口罩</a></li>
							<li><a href="#">防霾口罩</a></li>
							<li><a href="#">防霾口罩</a></li>
							<li><a href="#">防霾口罩</a></li>
							<li class="last"><a href="#">防霾口罩</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p id="texttwitter"></p>
			<ul id="menufooter">
				<li><a href="{% url 'index' %}">网站首页</a></li>
				<li><a href="{% url 'knowledge' %}">防霾知识</a></li>
				<li><a href="{% url 'news:news_list' %}">最新新闻</a></li>
				<li><a href="{% url 'data:data_show' %}">数据展示</a></li>
				<li class="last"><a href="{% url 'contact' %}">联系我们</a></li>
			</ul>
			<ul id="menufooterright">
				<li>Copyright 2019, 张国栋, Inc.</li>
				<li class="last"><a href="{% url 'knowledge' %}">回到顶部</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
