<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>详情页</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/ui_core.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/ui_tabs.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/lightbox.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/twitter.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/gettwitter.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	$(function() {
		$("#butslide").click(function(){
				$("#panellogin").slideToggle("fast");
				$(this).toggleClass("active"); return false;
		}); 
		$('#tabsnav').tabs({ fx: { opacity: 'toggle' } });
		$('a.popup').lightBox({fixedNavigation:true});
	});
	</script>
</head>
<body>
<p><a class="skiplink" href="#maincontent">Skip over navigation</a></p>
<div id="container">
	<div id="wrapper">
		<div id="header">
			<div id="headertop">
				<a href="{% url 'index' %}" class="replace" id="logo"><span></span></a>
				<div id="loginarea">
                {% if request.user.is_authenticated %}
                    <p class="notlogin">欢迎您！</p>
                    <p class="loginbut">
                        <a class="butlogin" href="" >{{ request.user.username }}</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="butlogin" href="{% url 'user:user_logout' %}">退出</a>
                    </p>
                {% else %}
					<p class="notlogin">未登陆！</p>
					<p class="loginbut">
                        <a href="{% url 'user:user_login' %}" class="butlogin">登陆</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="{% url 'user:user_register' %}" class="butlogin">注册</a>
                    </p>
                {% endif %}
				</div>
			</div>
			<div id="placemainmenu">
				<ul id="mainmenu">
					<li><a href="{% url 'index' %}">网站首页</a></li>
					<li><a href="{% url 'knowledge' %}">雾霾知识</a></li>
					<li  class="active"><a href="{% url 'news:news_list' %}">最新新闻</a></li>
					<li><a href="{% url 'data:data_show' %}">数据展示</a></li>
					<li><a href="{% url 'contact' %}">联系我们</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div id="content">
			<div id="maincontent">
				<div class="boxbig">
					<h1 class="titlebig">{{ news.title }}</h1>
					<div class="boxbigcontent">
						<ul id="listnews">
							<li class="noborder">
                                <p>{{ news.content }}</p>
                                <ul class="listinfodet">
									<li class="posted">作者<strong>{{ news.author }}</strong>{{ news.add_time }}</li>
                                    <li>{{ news.category.name }}</li>
								</ul>
								<div class="clear"></div>
							</li>
						</ul>
						<h2 class="subtitle">评论</h2>
						<ul id="listcomment">
                            {% for comment in page_list %}
                                <li>
								<img src="{% static 'images/default_avatar.png' %}" alt="Avatar" class="imgavatar" />
								<div class="placecomment">
									<h3><strong>{{ comment.name }}</strong>{{ comment.time }}</h3>
									<p>{{ comment.comment }}</p>
								</div>
								<div class="clear"></div>
							</li>
                            {% endfor %}
						</ul>
                        <ul id="listpages">
							{% if page_list.has_previous %}
                                    <li class="long"><a href="?page={{ page_list.previous_page_number }}">上一页</a></li>
                                {% else %}
                                    <li class="long"><a href="?page=1">上一页</a></li>
                                {% endif %}

                                {% for i in page_list.paginator.page_range %}
                                    <li {% ifequal i page_list.num %}class="active"{% endifequal %}><a class="page" href="?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}

                                {% if page_list.has_next %}
                                    <li class="long"><a href="?page={{ page_list.next_page_number }}">下一页</a></li>
                                {% else %}
                                    <li class="long"><a href="?page={{ page_list.paginator.num_pages }}">下一页</a></li>
                                {% endif %}
						</ul>
						<h2 class="subtitle">留言</h2>
						<form method="post" action="{% url 'news:comment' news.id %}" id="frmcomment">{% csrf_token %}
							<div>
								<label for="lblname">姓名<span></span></label>
								<input type="text" name="name" class="textboxcomment" id="lblname" /><br />
								<label for="lblemail">邮箱<span></span></label>
								<input type="text" name="email" class="textboxcomment" id="lblemail" /><br />
								<label for="lblcomment">评论<span>(*)</span></label>
								<textarea name="comment" cols="80" rows="10" id="lblcomment" class="textareacomment"></textarea><br />
								<input type="submit" name="submitcomment" class="submitcomment" value="提交" />
							</div>
						</form>
					</div>
					<div class="boxbigcontentbottom"></div>
				</div>
			</div>
			<div id="nav">
				<div class="boxnav">
					<h3 class="titlenav">新闻链接</h3>
					<div class="boxnavcontent">
						<ul class="menunav">
                            {% for other_new in other_news %}
                                <li><a href="{% url 'news:news_detail' other_new.id %}">{{ other_new.title }}</a></li>
                            {% endfor %}
							<li class="last"><a href="{% url 'news:news_list' %}">更多</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p id="texttwitter"></p>
			<ul id="menufooter">
				<li><a href="{% url 'index' %}">网站首页</a></li>
				<li><a href="{% url 'knowledge' %}">雾霾知识</a></li>
				<li><a href="{% url 'news:news_list' %}">最新新闻</a></li>
				<li><a href="{% url 'data:data_show' %}">数据展示</a></li>
				<li class="last"><a href="{% url 'contact' %}">联系我们</a></li>
			</ul>
			<ul id="menufooterright">
				<li>Copyright 2019, 张国栋, Inc.</li>
				<li class="last"><a href="#">回到顶部</a></li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>