<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中国雾霾网</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
</head>
<body>
<div id="container">
	<div id="wrapper">
		<div id="header">
			<div id="headertop">
				<a href="{% url 'other:index' %}" class="replace" id="logo"><span></span></a>
				<div id="loginarea">
                {% if request.user.is_authenticated %}
                    <p class="notlogin">欢迎您！</p>
                    <p class="loginbut">
                        <a class="butlogin" href="" >{{ request.user.username }}</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="butlogin" href="{% url 'user:user_logout' %}">退出</a>
                    </p>
                {% else %}
					<p class="notlogin">未登陆！</p>
					<p class="loginbut">
                        <a href="{% url 'user:user_login' %}" class="butlogin">登陆</a>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="{% url 'user:user_register' %}" class="butlogin">注册</a>
                    </p>
                {% endif %}
				</div>
			</div>
			<div id="placemainmenu">
				<ul id="mainmenu">
					<li><a href="{% url 'other:index' %}">网站首页</a></li>
                    <li><a href="{% url 'other:harm' %}">雾霾危害</a></li>
                    <li><a href="{% url 'other:governance' %}">雾霾治理</a></li>
                    <li class="active"><a href="{% url 'news:news_list' %}">最新新闻</a></li>
                    <li><a href="{% url 'data:data_list' %}">雾霾数据</a></li>
                    <li><a href="{% url 'other:about' %}">关于我们</a></li>
				</ul>
                <form method="post" action="{% url 'news:news_search' %}" id="frmsearch">{% csrf_token %}
					<div>
						<input type="text" name="search" class="textboxsearch" value="" placeholder="请输入关键词" onblur="if(this.value.length == 0) this.value='Search';" onclick="if(this.value == 'Search') this.value='';" />
                        <input type="submit" name="submitsearch" class="submitsearch" value="" />
					</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div id="content">
            <ul id="breadcrumb">
				<li><a href="{% url 'other:index' %}">首页</a></li>
                <li><a href="{% url 'news:news_list' %}">全部新闻</a></li>
				<li class="last">搜索结果</li>
			</ul>
			<div id="maincontent">
				<div class="boxbig">
					<h1 class="titlebig">新闻列表</h1>
					<div class="boxbigcontent">
						<ul id="listnews">
                            {% for news in page_list %}
                                <li>
                                    <h2><a href="{% url 'news:news_detail' news.id %}">{{ news.title }}</a></h2>
								    <ul class="listinfo">
									    <li class="posted">来源：<strong>{{ news.source }}&nbsp;&nbsp;</strong>{{ news.add_time }}</li>
                                        <li><a href="{% url 'news:news_category' news.category.id %}">{{ news.category.name }}</a></li>
									    <li class="comment"><a href="{% url 'news:news_detail' news.id %}" class="linkcomment">{{ news.comment_set.count }}</a></li>
								    </ul>
								    <p>{{ news.digest }}...</p>
								    <a href="{% url 'news:news_detail' news.id %}" class="linkreadmore">更多</a>
								    <div class="clear"></div>
							    </li>
                            {% endfor %}
						</ul>
						<ul id="listpages">
							{% if page_list.has_previous %}
                                <li class="long"><a href="?page={{ page_list.previous_page_number }}">上一页</a></li>
                            {% else %}
                                <li class="long"><a href="?page=1">上一页</a></li>
                            {% endif %}
                            {% for i in page_list.paginator.page_range %}
                                <li {% ifequal i page_list.num %}class="active"{% endifequal %}><a class="page" href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if page_list.has_next %}
                                <li class="long"><a href="?page={{ page_list.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="long"><a href="?page={{ page_list.paginator.num_pages }}">下一页</a></li>
                            {% endif %}
						</ul>
					</div>
					<div class="boxbigcontentbottom"></div>
				</div>
			</div>
			<div id="nav">
                <div class="boxnav">
					<h3 class="titlenav">新闻频道</h3>
					<div class="boxnavcontent">
						<ul class="menunav">
                            {% for category in categories %}
                                <li><a href="{% url 'news:news_category' category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
				<div class="boxnav">
					<h3 class="titlenav">新闻网站</h3>
					<div class="boxnavcontent">
						<ul class="menunav">
							<li><a href="https://news.baidu.com/">百度新闻</a></li>
							<li><a href="https://news.sina.com.cn/">新浪新闻</a></li>
							<li><a href="https://www.toutiao.com/">今日头条</a></li>
							<li><a href="http://news.sohu.com/">搜狐新闻</a></li>
							<li><a href="https://news.qq.com/">腾讯新闻</a></li>
							<li class="last"><a href="http://news.ifeng.com/">凤凰资讯</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p id="texttwitter"></p>
			<ul id="menufooter">
				<li><a href="{% url 'other:index' %}">网站首页</a></li>
                <li><a href="{% url 'other:harm' %}">雾霾危害</a></li>
                <li><a href="{% url 'other:governance' %}">雾霾治理</a></li>
                <li class="active"><a href="{% url 'news:news_list' %}">最新新闻</a></li>
                <li><a href="{% url 'data:data_list' %}">雾霾数据</a></li>
                <li><a href="{% url 'other:about' %}">关于我们</a></li>
			</ul>
			<ul id="menufooterright">
				<li>Copyright 2019, 张国栋, Inc.</li>
				<li class="last"><a href="#">回到顶部</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>